MEDIA_OPS_API_KEY=replace-with-device-pairing-key
MEDIA_OPS_DATABASE_URL=postgres://user:password@127.0.0.1:5432/plezy_media_hub?sslmode=disable
MEDIA_OPS_ADMIN_DATABASE_URL=postgres://user:password@127.0.0.1:5432/postgres?sslmode=disable
MEDIA_OPS_DATABASE_NAME=plezy_media_hub
MEDIA_OPS_CONFIG_ROOT=C:\Plex\MediaOps\.config
MEDIA_OPS_STAGING_ROOT=C:\Plex\PruebasReales
MEDIA_OPS_PORT=8100
PRA_FILEBOT_LANGUAGE=es
